<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinilos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Vinilos</p>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Quienes somos</a>
                <a href="#">Ofertas</a>
                <a href="#">Metodo de pago</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Los mejores Vinilos del <br>mercado</h1>
        <button>ACÁ</button>
    </section>

    <section id="somos-vinillos">
        <div class="container"> 

            <div class="img-container"></div>
            <div class="texto">
            <h2>Somos Vinilos</h2>
            <p>Vinilo's es un sitio dedicado a ofrecer un catalogo de Discos Vinilos de diferente generos para los amantes de los sonidos originales y realistas! Encontraran un catalago de disco de calidad y variedad.

            Este ultmo timepo el disco de vinilo reaparecio en la escena musical haciendo que personas de todas las edades puedan disfrutar de la nostalgia de encender un tocadiscos de esos que tenian nuestros abuelos en su sala.</p>
        </div>
    </div>
    </section>

    <section id="ofertas">
        <div class="container">
        <h2>Ofertas</h2>
        <div class="ofert">
        <div class="carta">
           <h3>....</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis iusto sunt quasi hic placeat veniam aperiam magni voluptate, molestias dolores optio, molestiae magnam in similique maxime velit a corrupti?</p>
           <button>Comprar</button> 
        </div>
        <div class="carta">
           <h3>.....</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis iusto sunt quasi hic placeat veniam aperiam magni voluptate, molestias dolores optio, molestiae magnam in similique maxime velit a corrupti?</p>
           <button>Comprar</button> 
        </div>
        <div class="carta">
           <h3>.....</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis iusto sunt quasi hic placeat veniam aperiam magni voluptate, molestias dolores optio, molestiae magnam in similique maxime velit a corrupti?</p>
           <button>Comprar</button> 
        </div>
        </div>
    </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
        <ul>
            <li>✔️ Efectivo</li>
            <li>✔️ Transferencia</li>
            <li>✔️ Envio a domicilio</li>
            <li>✔️ Asistencia sobre consultas</li>
        </ul>
    </div>
    </section>
    
    <footer>
        <div class="container"> 
        <p>&copy; Vinillos</p>
        <p>Instagram: ......</p>
        <p>WhatsApp: ......</p>
        <p>Direccion:......</p>
    </div>
    </footer>
</body>
</html>