<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mahuida</title>
</head>
<body>
    <header>
        <nav class="sit-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>     
                <li><a href="#">Ayuda</a></li>
            </ul>
       
            <ul>
                <li><a href="register">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="contenedor-ppal">
            <div class="logo">
                <p>logo</p>
            </div>
            <div class="cabecera-nav">
                <ul>
                    <li>Hombre</li>
                    <li>Mujeres</li>
                    <li>Niños</li>
                    <li>Camping</li>
                    <li>Calzados</li>
                </ul>
            </div>
            <div class="contenedor-btn">
                <div class="btn-busqueda">
                    <form action="">
                        <input type="search" name="" id="">
                    </form>
                </div>
                <div class="btn-perfil">
                  
                    <a href="#">
                        <img src="./images/icon-user.svg" alt="" srcset="">
                    </a>
                </div>
                <div class="btn-burger">
                    <a href="#">
                        <img src="./images/icon-menu.svg" alt="" srcset="">
                    </a>
                </div>
            </div>
        </div>  
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>